$primary-color: #409EFF;
$primary-background-color: #ecf5ff;


.form-edit-label{
  font-size: 12px;
  display: block;
  width: 47%;
  line-height: 26px;
  position: relative;
  float: left;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 1%;
  color: #333;
  border: 1px solid #F4F6FC;

  &:hover{
    color: $primary-color;
    border: 1px dashed $primary-color;
  }

  & > a{
    display: block;
    cursor: move;
    background: #F4F6FC;
    border: 1px solid #F4F6FC;

    .icon{
      margin-left: 8px;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
    }

    span{
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.form-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .form-list{
    background: #fff;
    border: 1px dashed #999;
    min-height: 600px;
    .widget-view{
      position: relative;
      background-color: #f1f1f1;
    }
    .col-list {
      min-height: 30px;
      border: 1px dashed #ccc;
      background: #fff;
    }
    .active {
      outline: 2px solid $primary-color;
      box-sizing: border-box;
    }
  }
}

.item-container {
  position: relative;
  margin-bottom: 10px;
  .ctrls {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $primary-background-color;
    padding: 0 5px;
    font-size: 12px;
  }
  .drag {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $primary-background-color;
    padding: 0 5px;
    i {
      font-size: 12px;
    }
  }
}

.ghost{
  background: $primary-color;
  border: 1px solid $primary-color;
  outline: none !important;
  height: 0px;
  box-sizing: border-box;
  font-size: 0;
  content: '';
  overflow: hidden;
  padding: 0;
  width: 100%;
}