@import './position';
@import './element-ui.scss';
@import './font.scss';

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}